/*
	configuration générale
	wkhtmltopdf
*/
	* {
		margin: 0;
		padding: 0;
	}

	html {
		font-size: 62.5%;
	}

	body {
		font-size: 1.5rem;
		background-color: #47b5b5;
	}

	header, main, footer {
		max-width: 95rem;
		margin: auto;
		padding: 0rem 2rem ;
		padding-top: 2rem;
	
	}	


.section {
	padding-top: 2rem;
}

#nom, #prenom {
	display: inline-block;
	font-size: 2rem;
	
}

#nom {
	text-transform: uppercase;
}

#permis {
	text-align: right;
}



h1 {
	text-align: center;
	margin-bottom: 1rem;
}

.coordonees{
	background-color: navy;
	color: white;
	text-align: center;
	font-size: 2rem;
}

.coordonees p {
	display: inline-block;
	margin-right: 2rem;
}

.periode, .entreprise, .ecole_diplome {
	display: inline-block;
}

.entreprise, .ecole_diplome {
	width: 84%;
}

.periode {
	vertical-align: top;
	width: 15%;
	text-align:center;
	/*margin: auto;*/
	
}

.date, .nom_entreprise{
	font-weight: bold;
}

article.experiences, article.formations {
	margin-bottom: 1rem;
}